{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input type="text" placeholder="Enter Username" name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required>
    <input type="radio" id="Student" name="role" value="Student">
    <label for="Student">Student</label><br>
    <input type="radio" id="Professor" name="role" value="Professor">
    <label for="Professor">Professor</label><br>
    <button type="submit">Register</button>
  </form>
{% endblock %}
