<!doctype html>
<title>{% block title %}{% endblock %} - CT Label Panel</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
      type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% block style %}{% endblock %}
<nav>
    <h1>config.NAME Labeling System</h1>
    <ul>
        {% if g.user %}
        <li><span>{{ g.user['username'] }}</span>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
            {% else %}
            {% if config.REGISTER_ACTIVE %}
        <li><a href="{{ url_for('auth.register') }}">Register</a>
            {% endif %}
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
            {% endif %}
    </ul>
</nav>
<section>
    <h2>
        {% block header %}{% endblock %}
    </h2>

    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block content %}{% endblock %}
</section>
