{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Patient List{% endblock %}</h1>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">
{% endblock %}
{% block content %}
<ol class="rounded-list" style="width: 75%;">
    {% for p in plist %}

    <a href="patient{{p.pid}}">
        <li>
            <p>Patient {{ p.pid }}</p>
            {% if p.student %}
            <button type="button" style="opacity: 0.8;margin: auto;background-color: deeppink;color: white;"> Student
            </button>
            {% endif %}

            {% if p.professor %}
            <button type="button" style="opacity: 0.8;margin: auto;background-color: forestgreen;color: white;">
                Professor
            </button>
            {% endif %}

            {% if p.professor_need %}
            <button type="button" style="opacity: 0.8;margin: auto;background-color: orangered;color: white;"> Needs
                Professor
            </button>
            {% endif %}

            {% if p.dicom_need %}
            <button type="button" style="opacity: 0.8;margin: auto;background-color: darkred;color: white;"> Needs
                DICOM
            </button>
            {% endif %}

        </li>
    </a>

    {% endfor %}
</ol>
{% endblock %}
