{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Patient List{% endblock %}</h1>
{% endblock %}
{% block style %}
<style>
    ol {
        counter-reset: li; /* Initiate a counter */
        list-style: none; /* Remove default numbering */
        *list-style: decimal; /* Keep using default numbering for IE6/7 */
        font: 15px 'trebuchet MS', 'lucida sans';
        padding: 0;
        margin-bottom: 4em;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    }

    ol ol {
        margin: 0 0 0 0em; /* Add some left margin for inner lists */
    }

    .rounded-list a {
        position: relative;
        display: block;
        padding: .4em .4em .4em 2em;
        *padding: .4em;
        margin: .5em 0;
        background: #ddd;
        color: #444;
        text-decoration: none;
        border-radius: .3em;
        transition: all .3s ease-out;
    }

    .rounded-list a:hover {
        background: #eee;
    }

    .rounded-list a:hover:before {
        transform: rotate(360deg);
    }

    .rounded-list a:before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: -1.3em;
        top: 50%;
        margin-top: -1.3em;
        background: #87ceeb;
        height: 2em;
        width: 2em;
        line-height: 2em;
        border: .3em solid #fff;
        text-align: center;
        font-weight: bold;
        border-radius: 2em;
        transition: all .3s ease-out;
    }
</style>
{% endblock %}
{% block content %}
<ol class="rounded-list" style="width: 75%;">
    {% for p in plist %}

    <a href="patient{{p.pid}}">
        <li>
            <p>Patient {{ p.pid }}</p>
            {% if p.student %}
            <button type="button" style="opacity: 0.8;margin: auto;background-color: deeppink;color: white;"> Student
            </button>
            {% endif %}

            {% if p.professor %}
            <button type="button" style="opacity: 0.8;margin: auto;background-color: forestgreen;color: white;">
                Professor
            </button>
            {% endif %}

            {% if p.professor_need %}
            <button type="button" style="opacity: 0.8;margin: auto;background-color: orangered;color: white;"> Needs
                Professor
            </button>
            {% endif %}

            {% if p.dicom_need %}
            <button type="button" style="opacity: 0.8;margin: auto;background-color: darkred;color: white;"> Needs
                DICOM
            </button>
            {% endif %}

        </li>
    </a>

    {% endfor %}
</ol>
{% endblock %}
