{% extends 'base.html' %}

{% block header %}
  {% block title %} Labeling Work Area {% endblock %}
{% endblock %}
{% block style %}

  <style>
    /* The sidebar menu */
    .left {
      height: 100%; /* Full-height: remove this if you want "auto" height */
      width: 150px; /* Set the width of the sidebar */
      position: fixed; /* Fixed Sidebar (stay in place on scroll) */
      z-index: 1; /* Stay on top */
      top: 0; /* Stay at the top */
      left: 0;
      background-color: #111; /* Black */
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 20px;
    }

    .right {
      position: sticky; /* Fixed Sidebar (stay in place on scroll) */
      z-index: 1; /* Stay on top */
      top: 0; /* Stay at the top */
      right: 0;
      background-color: black; /* Black */
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 20px;
    }

    /* The navigation menu links */
    .sidenav a {
      padding: 6px 8px 6px 6px;
      text-decoration: none;
      font-size: 20px;
      color: #818181;
      display: block;
      align-content: center;
      text-align: center;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
      color: #f1f1f1;
    }


    /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidenav {
        align-content: center;
        text-align: center;
        /*margin: auto;*/
        padding-top: 13px;
      }

      .sidenav a {
        font-size: 15px;
        text-align: center;
        /*margin: auto;*/
      }
    }
  </style>

<style>
 .radio-toolbar {
   text-align: center;
  margin: 0px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: white;
    /*padding: 10px 20px;*/
    /*font-family: sans-serif, Arial;*/
    font-size: 25px;
  font-weight: bold;
  width: 30px;
  height: 30px;
    border: 2px solid #444;
    border-radius: 4px;
  margin-top: 5px;
}

.radio-toolbar label:hover {
  background-color: gainsboro;
}


.radio-toolbar input[type="radio"][value="negative"]:focus + label {
    border: 2px dashed #4c4;
}

.radio-toolbar input[type="radio"][value="negative"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}
.radio-toolbar input[type="radio"][value="positive"]:focus + label {
    border: 2px dashed darkred;
}

.radio-toolbar input[type="radio"][value="positive"]:checked + label {
    background-color: pink;
    border-color: darkred;
}

</style>

<style>
* {box-sizing: border-box;}

.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 256px;
  height: 256px;
}
</style>
{% endblock %}
{% block content %}

  <h3>Your Role:
    {% if g.user.role==1 %}
      Student
    {% elif g.user.role==2 %}
      Professor
    {% else %}
      Unknown
    {% endif %}
    - Patient ID:{{ pid }}</h3>

  <div class="sidenav left">
    <h1 style="color: white;text-align: center;font-weight: bold;">Menu</h1>
    <a href="list">List</a>
    {% if hpid>=0 %}
      <a href="patient{{ hpid }}">First Patient</a>
    {% endif %}

    {% if npid>=0 %}
      <a href="patient{{ npid }}">Next Patient</a>
    {% endif %}
    <hr>
    <h1 style="color: white;text-align: center;font-weight: bold;">View</h1>

    {% for view in view_list %}
      <a id='view_{{ view.name }}' style="cursor: grabbing;">{{ view.name }}</a>
    {% endfor %}
  </div>

  <!-- Page content -->
  <div class="row">
      <div class="col-xs-4">
        <form action="patient{{ pid }}" method="post">
          <input type="hidden" id="send_time" name="send_time" value="{{ send_time }}">
          <input type="hidden" id="rnd" name="rnd" value="{{ rnd }}">
          <input type="hidden" id="pid" name="pid" value="{{ pid }}">
          <table>
            {% for slice in slices %}

              <tr id="tbl_row_{{ slice.z }}" style=" {% if not slice.img %} display: none; {% endif %} ">
                <th>
                  {{ slice.z }}
                </th>
                <th>
                  <a onclick="additional_slices({{ slice.z }}, true)"
                     onmouseover="show_big({{ slice.z }});"
                     style="cursor: ns-resize;"
                  >
                    <img id="img_{{ slice.z }}"
                      {% if slice.img %} src="{{ slice.img }}" {% else %} src="" {% endif %}
                         style="max-width: 100%;"
                    >
                  </a>

                </th>
                <th>
                  <div class="radio-toolbar">
                    <input type="radio" value="positive" name="z_{{ slice.z }}_status" id="z_{{ slice.z }}_positive"
                      {% if slice.positive %} checked {% endif %}/>
                    <label for="z_{{ slice.z }}_positive" style="color: darkred;">+</label>

                    <input type="radio" value="negative" name="z_{{ slice.z }}_status" id="z_{{ slice.z }}_negative"
                      {% if slice.negative %} checked {% endif %}/>
                    <label for="z_{{ slice.z }}_negative" style="color: darkgreen;">-</label>
                  </div>

                </th>
              </tr>
            {% endfor %}

            <tr>
              <th></th>
              <th>
                {% if g.user.role==1 %}
                  <input type="checkbox" id="professor_need" name="professor_need" value="1"
                    {% if professor_need %}
                         checked
                    {% endif %}
                  >
                  <label for="professor_need">Needs Professor</label>
                  <br>
                {% endif %}

                <input type="checkbox" id="dicom_need" name="dicom_need" value="1"
                  {% if dicom_need %}
                       checked
                  {% endif %}
                >
                <label for="dicom_need">Needs DICOM</label>

                <br>

                <button type="submit"
                        style="display: block;margin: auto;background-color: crimson;color: white;">
                  Save & Next
                </button>
              </th>
              <th></th>
            </tr>
          </table>
        </form>
    </div>
    <div class="col-xs-8">
      <div class="sidenav right">
        <figure style="color: firebrick; text-align:center;">
          <figcaption id="main_img_cap" style="font-size: 20px;font-weight: bold;">Move mouse over items</figcaption>
          <div class="img-magnifier-container" onclick="toggle_magnify()">
          <img id="main_img" style="width: 95%;" onload="magnify(3);">
          </div>
        </figure>
      </div>
    </div>
  </div>

  <script type="text/javascript">
      var additional_z_list = [];
      {% for view in view_list %}
          {% if view.name == "Lungs" %}
              var selected_view_item = document.getElementById('view_{{view.name}}');
              var selected_view_wl = "{{view.wl}}";
              var selected_view_ww = "{{view.ww}}";
          {% endif %}
      {% endfor %}
      selected_view_item.style.textShadow = "0px 0px 5px green";

      function change_selected_view() {
          selected_view_item.style.textShadow = "0px 0px 5px green";
      }

      function load_selected_view() {
          selected_view_item.style.textShadow = "0px 0px 5px red";

          var script = document.createElement("script");
          script.type = "text/javascript";
          script.src = "slices{{pid}}?wl=" + selected_view_wl + "&ww=" + selected_view_ww;
          document.getElementsByTagName("head")[0].appendChild(script);
          return false;
      }

      {% for view in view_list %}
          document.getElementById('view_{{view.name}}').onclick = function () {
              selected_view_item.style.textShadow = "";
              selected_view_item = document.getElementById('view_{{view.name}}');
              selected_view_wl = "{{view.wl}}";
              selected_view_ww = "{{view.ww}}";
              load_selected_view()

              for (var i = 0; i < additional_z_list.length; i++) {
                  additional_slices(additional_z_list[i], false);
              }
          }
      {% endfor %}

      function additional_slices(z, new_z) {
          if (new_z) {
              additional_z_list.push(z)
          }
          var min_z = (z - 1).toString();
          var max_z = (z + 2).toString();

          var script = document.createElement("script");
          script.type = "text/javascript";
          script.src = "more_slices{{pid}}?wl=" + selected_view_wl + "&ww=" + selected_view_ww + "&z_min=" + min_z + "&z_max=" + max_z;
          document.getElementsByTagName("head")[0].appendChild(script);
          return false;
      }

      function show_big(z_num) {
          document.getElementById("main_img").src = document.getElementById("img_" + z_num).src;
          document.getElementById("main_img_cap").textContent = "z: " + z_num;

      }

  </script>

<script>
  /*create magnifier glass:*/
  var glass = document.createElement("DIV");

  function magnify(zoom) {
    var w, h, bw;

    // show
    glass.style.display = "";

    glass.setAttribute("class", "img-magnifier-glass");
    var img = document.getElementById("main_img");
    /*insert magnifier glass:*/
    img.parentElement.insertBefore(glass, img);

    /*set background properties for the magnifier glass:*/
    glass.style.backgroundImage = "url('" + img.src + "')";
    glass.style.backgroundRepeat = "no-repeat";
    glass.style.backgroundSize = (img.width * zoom) + "px " + (img.height * zoom) + "px";
    bw = 3;
    w = glass.offsetWidth / 2;
    h = glass.offsetHeight / 2;
    /*execute a function when someone moves the magnifier glass over the image:*/
    glass.addEventListener("mousemove", moveMagnifier);
    img.addEventListener("mousemove", moveMagnifier);
    /*and also for touch screens:*/
    glass.addEventListener("touchmove", moveMagnifier);
    img.addEventListener("touchmove", moveMagnifier);

    function moveMagnifier(e) {
      var pos, x, y;
      /*prevent any other actions that may occur when moving over the image*/
      e.preventDefault();
      /*get the cursor's x and y positions:*/
      pos = getCursorPos(e);
      x = pos.x;
      y = pos.y;
      /*prevent the magnifier glass from being positioned outside the image:*/
      if (x > img.width - (w / zoom)) {
        x = img.width - (w / zoom);
      }
      if (x < w / zoom) {
        x = w / zoom;
      }
      if (y > img.height - (h / zoom)) {
        y = img.height - (h / zoom);
      }
      if (y < h / zoom) {
        y = h / zoom;
      }
      /*set the position of the magnifier glass:*/
      glass.style.left = (x - w) + "px";
      glass.style.top = (y - h) + "px";
      /*display what the magnifier glass "sees":*/
      glass.style.backgroundPosition = "-" + ((x * zoom) - w + bw) + "px -" + ((y * zoom) - h + bw) + "px";
    }

    function getCursorPos(e) {
      var a, x = 0, y = 0;
      e = e || window.event;
      /*get the x and y positions of the image:*/
      a = img.getBoundingClientRect();
      /*calculate the cursor's x and y coordinates, relative to the image:*/
      x = e.pageX - a.left;
      y = e.pageY - a.top;
      /*consider any page scrolling:*/
      x = x - window.pageXOffset;
      y = y - window.pageYOffset;
      return {x: x, y: y};
    }

    // hide
    glass.style.display = "none";
  }


  function toggle_magnify() {
    if (glass.style.display === "") {
      glass.style.display = "none";
    } else {
      glass.style.display = "";
    }
  }
</script>
{% endblock %}
